ccxt
deap
google-auth
gspread
hmmlearn
matplotlib
numpy
oauth2client
pandas
plotly
scikit-learn
seaborn
streamlit
xgboost
yfinance

streamlit
yfinance
pandas
numpy
hmmlearn
scikit-learn
xgboost
plotly
gspread
google-auth
oauth2client
deap
